azure-functions==1.6.0
duo-client==4.3.2
azure-storage-file-share==12.5.0
six~=1.16.0
requests~=2.31.0
typing_extensions~=4.11.0
urllib3~=2.2.1
cryptography~=42.0.5
isodate~=0.6.1
msrest~=0.7.1
oauthlib~=3.2.2
certifi~=2024.2.2
idna~=3.6
pycparser~=2.22
setuptools~=69.2.0